#name {
  font-family: "Fira Sans", sans-serif;
  font-size: 10vh;
  padding: 5vh;
  background-color: black;
  color: white;
  width: 75vw;
  text-align: center;
  margin: auto;
  transform: translateY(35vh);
  transition: 0.5s;
}

#name:hover {
  background-color: #262626;
}

a {
  text-decoration: none;
}
