:root {
    /** Catpuccin Latte https://github.com/catppuccin/catppuccin **/
    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --mauve-hover: #a87be3;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --overlay2: #7c7f93;
    --overlay1: #8c8fa1;
    --overlay0: #9ca0b0;
    --surface2: #acb0be;
    --surface1: #bcc0cc;
    --surface0: #ccd0da;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;
}

@media (prefers-color-scheme: dark) {
    :root {
        /** Catpuccin Frappé https://github.com/catppuccin/catppuccin **/
        --rosewater: #f2d5cf;
        --flamingo: #eebebe;
        --pink: #f4b8e4;
        --mauve: #ca9ee6;
        --mauve-hover: #d9cde1;
        --red: #e78284;
        --maroon: #ea999c;
        --peach: #ef9f76;
        --yellow: #e5c890;
        --green: #a6d189;
        --teal: #81c8be;
        --sky: #99d1db;
        --sapphire: #85c1dc;
        --blue: #8caaee;
        --lavender: #babbf1;
        --text: #c6d0f5;
        --subtext1: #b5bfe2;
        --subtext0: #a5adce;
        --overlay2: #949cbb;
        --overlay1: #838ba7;
        --overlay0: #737994;
        --surface2: #626880;
        --surface1: #51576d;
        --surface0: #414559;
        --base: #303446;
        --mantle: #292c3c;
        --crust: #232634;
    }
}


* {	
    vertical-align: baseline;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
}

/** Elements **/
body {
    background-color: var(--mantle);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    color: var(--text);
    background-color: var(--base);
    max-width: 750px;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

ul {
    margin-left: 1em;
}

li {
    margin-bottom: 5px;
}

a {
    color: var(--mauve);
}

a:hover {
    text-decoration: none;
    color: var(--mauve-hover)
}

a:focus {
    text-decoration: none;
    color: var(--mauve-hover)
}

h1, h2, h3, p {
    margin-top: 10px;
}


/** Classes **/

.font-roboto-mono {
    font-family: 'Roboto Mono', monospace;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
}

.bold, strong {
    font-weight: bold;
}

.respectspace {
    white-space: pre;
}

.mauve {
    color: var(--mauve)
}

.big {
    font-size: 25px;
}

.center {
    text-align: center;
}